{% args network, logger, version  %}

<!DOCTYPE html>
<html lang="en">
    {% include 'head.tpl' %}
	<body>
       {% include 'masthead.tpl' %}
        <div class="pagesection">
            <ul class="mainmenu">
                <li>
                    <a href="/networks">
                        Manage network connection
                        <span class="details">Connected to: {{ network }}</span>
                    </a>
                </li>
                <li>
                    <a href="/logging">
                        Data logging service
                        {% if logger %}
                        <span class="details">Logging service: {{ logger }}</span>
                        {% else %}
                        <span class="details">No service selected</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="/hardware">
                        Configure hardware
                    </a>   
                </li>
                <li>
                    <a href="/firmware">
                        Update firmware
                        <span class="details">Version: {{ version }}</span>
                    </a>            
                </li>
            </ul>
        </div>
       {% include 'footer.tpl' %}
	</body>
</html>